*{
    margin: 0%;
}
.cont{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
img{
    height: 100vh;
    width: 100%;
}
.main{
    height: 400px;
    width: 800px;
    background-color:transparent;
    position: absolute;
    left: 23%;
    top: 20%;
    text-align: center;
    
} 
h1{
    font-size: 70px;
}
button{
    height: 35px;
    width: 95px;
    background-color:transparent;
    border: 2px white solid;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif
}
button:hover{
    background-color: white;
    color: rgb(9, 9, 60);
}
fieldset{
    margin-left: 7%;
    color: white;
}
strong{
    font-size: 25px;
}
input{
    height: 25px;
}
p{
    font-size: 20px;
    
}